.side-10 {
    width: 10%;
    border:1px solid red;
    margin-right: 10px;
    float:left;
}

.side-20 {
    width: 20%;
    border:1px solid red;
    margin-right:10px;
    float:left;
}

input {
	margin-left: 1em;
}
.Group {
	background-color: yellow;
	padding-left: 2em;
}


.VerticalLayout {
	padding-left: 1em;
	background-color: green;
}


.HorizontalLayout {
	padding-top: 1em;
	padding-bottom: 1em;
	border: 2px solid black;
	background-color: blue;
}